<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    <link rel="stylesheet" href="estilo.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous"><meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/vue@3"></script>
    <title>Treino</title>
</head>
<body>
    <div id="app">
        {{botaoSemana}}
        <!-- Segunda-Feira -->
        <div class="d-grid gap-2 p-3 align-items-center">
        <button @click="divSegunda(botaoSemana='segunda')"
            class="btn btn-success btn-lg">Segunda-Feira</button>

        <!-- Em progresso -->
        <div v-show="showSegunda && treinoEmProgresso.length" class="container-md text-center">
            <h3>Em progresso</h3>
                <table class="table table-secondary table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">Costas + Trap</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in segunda.filter(a=>!a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        <!-- Finalizado -->
        <div v-show="showSegunda && treinoFinalizado.length" class="container-md text-center">
            <h3>Finalizado</h3>
                <table class="table table-success table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">Costas + Trap</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in segunda.filter(a=>a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>

        <!-- Terça-Feira -->
        <div class="d-grid gap-2 p-3 align-items-center">
            <button @click="divTerca(botaoSemana='terca')"
                class="btn btn-success btn-lg">Terça-Feira</button>

        <!-- Em progresso -->
        <div v-show="showTerca && treinoEmProgresso.length" class="container-md text-center">
            <h3>Em progresso</h3>
                <table class="table table-secondary table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">Peito + Deltoide</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in terca.filter(a=>!a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        <!-- Finalizado -->
        <div v-show="showTerca && treinoFinalizado.length" class="container-md text-center">
            <h3>Finalizado</h3>
                <table class="table table-success table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">Peito + Deltoide</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in terca.filter(a=>a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>

        <!-- Quarta-Feira -->
        <div class="d-grid gap-2 p-3 align-items-center">
            <button @click="divQuarta(botaoSemana='quarta')"
                class="btn btn-success btn-lg">Quarta-Feira</button>

        <!-- Em progresso -->
        <div v-show="showQuarta && treinoEmProgresso.length" class="container-md text-center">
            <h3>Em progresso</h3>
                <table class="table table-secondary table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">Perna completo</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in quarta.filter(a=>!a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}x</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        <!-- Finalizado -->
        <div v-show="showQuarta && treinoFinalizado.length" class="container-md text-center">
            <h3>Finalizado</h3>
                <table class="table table-success table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">Perna completo</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in quarta.filter(a=>a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}x</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>

        <!-- Quinta-Feira -->
        <div class="d-grid gap-2 p-3 align-items-center">
            <button @click="divQuinta(botaoSemana='quinta')"
                class="btn btn-success btn-lg">Quinta-Feira</button>

        <!-- Em progresso -->
        <div v-show="showQuinta && treinoEmProgresso.length" class="container-md text-center">
            <h3>Em progresso</h3>
                <table class="table table-secondary table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">BÍCEPS + TRÍCEPS</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in quinta.filter(a=>!a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}x</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        <!-- Finalizado -->
        <div v-show="showQuinta && treinoFinalizado.length" class="container-md text-center">
            <h3>Finalizado</h3>
                <table class="table table-success table-striped table-bordered border-light">
                <thead>
                    <tr>
                    <th scope="col" class="bg-success">BÍCEPS + TRÍCEPS</th>
                    <th scope="col" class="bg-success">Séries</th>
                    <th scope="col" class="bg-success">Rep.</th>
                    <th scope="col" class="bg-success">Feito</th>
                    </tr>
                </thead>

                <tbody v-for="exerc in quinta.filter(a=>a.complete)" :key="exerc" >
                    <tr>
                        <td>{{exerc.name}}</td>
                        <td>{{exerc.serie}}x</td>
                        <td>{{exerc.rep}}</td>
                        <td>
                        <label>
                            <input type="checkbox" v-model="exerc.complete">
                        </label>
                        </td>
                    </tr>
                </tbody>
                </table>
        </div>
        </div>
    </div>

   <script>
    let app = {
        data(){
            return{
                showSegunda: false,
                showTerca: false,
                showQuarta: false,
                showQuinta: false,
                botaoSemana: 0,
                segunda:[
                    {name: 'Puxada aberta', serie: '5x', rep: '12', complete: false},
                    {name: 'Pulldown com Corda	', serie: '4x', rep: '10', complete: false},
                    {name: 'Remada Curvada com Barra Reta', serie: '4x', rep: '12', complete: false},
                    {name: 'Remada baixa triângulo unilateral', serie: '5x', rep: '10', complete: false},
                    {name: 'Encolhimento de ombro com Halteres', serie: '4x', rep: '20', complete: false},
                    {name: 'Remada alta', serie: '4x', rep: '15', complete: false}
                ],
                terca:[
                    {name: 'Supino reto barra ou Halteres', serie: '5x', rep: '10', complete: false},
                    {name: 'Supino inclinado 45 + Crucifixo', serie: '4x', rep: '10', complete: false},
                    {name: 'Peck Deck', serie: '4x', rep: '10', complete: false},
                    {name: 'Cross Over polia baixa', serie: '4x', rep: '10', complete: false},
                    {name: 'Desenvolvimento maquina', serie: '5x', rep: '12', complete: false},
                    {name: 'Elevação lateral maquina', serie: '4x', rep: '10', complete: false},
                    {name: 'Elevação frontal na polia', serie: '4x', rep: '10', complete: false},
                ],
                quarta:[
                    { name: "Agachamento Livre", serie: 5, rep: 10 },
                    { name: "Cadeira extensora + afundo", serie: 4, rep: 10 },
                    { name: "Leg press 45", serie: 4, rep: 12 },
                    { name: "Cadeira flexora", serie: 5, rep: 12 },
                    { name: "Adução + Mesa Flexora Inversa Halteres", serie: 4, rep: 15 },
                    { name: "Levantamento Terra", serie: 4, rep: 10 }
                ],
                quinta:[
                    { name: "Rosca Direta Barra W", serie: 4, rep: 10 },
                    { name: "Rosca alternada banco 45", serie: 3, rep: 12 },
                    { name: "Rosca Scott Máquina", serie: 4, rep: 12 },
                    { name: "Rosca Martelo + Rosca Inversa Halteres", serie: 4, rep: 10 },
                    { name: "Triceps Barra no Pulley", serie: 4, rep: 10 },
                    { name: "Triceps Testa com Barra", serie: 4, rep: 12 },
                    { name: "Triceps Francês na Polia com Corda", serie: 4, rep: 12 },
                    { name: "Triceps Coice unilateral", serie: 4, rep: 10 }
                ]
            }
        },

        computed:{
            treinoEmProgresso(){

                switch(this.botaoSemana){
                    case 'segunda': return this.segunda.filter(exerc=>!exerc.complete)
                    case 'terca': return this.terca.filter(exerc=>!exerc.complete)
                    case 'quarta': return this.quarta.filter(exerc=>!exerc.complete)
                    case 'quinta': return this.quinta.filter(exerc=>!exerc.complete)
                    default: 0
                }
            },
            treinoFinalizado(){
                
                switch(this.botaoSemana){
                    case 'segunda': return this.segunda.filter(exerc=>exerc.complete)
                    case 'terca': return this.terca.filter(exerc=>exerc.complete)
                    case 'quarta': return this.quarta.filter(exerc=>exerc.complete)
                    case 'quinta': return this.quinta.filter(exerc=>exerc.complete)
                    default: 0
                }
            }
        },

        methods:{
            divSegunda(){
                this.showSegunda = !this.showSegunda
            },
            divTerca(){
                this.showTerca = !this.showTerca
            },
            divQuarta(){
                this.showQuarta = !this.showQuarta
            },
            divQuinta(){
                this.showQuinta = !this.showQuinta
            }
        }
    };
    Vue.createApp(app).mount('#app')
   </script>
</body>
</html>